<%= form_for(@edit_comment, html: { class: "col-md-6 form-horizontal", role: "form" }, remote: true) do |f| %>
    <% if @edit_comment.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4><%= pluralize(@edit_comment.errors.count, "error") %> prohibited this comment from being saved:</h4>

          <ul>
            <% @edit_comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
    <div class="form-group">
      <%= f.label :comment, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :body, class: "form-control" %>
      </div>
    </div>
      <%= f.hidden_field :author_id %>
      <%= f.hidden_field :post_id %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
<% end %>
